
.input{	
	height: 1.5em;
	width: 87%;
}

.button{
	padding-left: 2%;
	padding-bottom: 1%;
	width: 87%;
	
	
}
.down{
	padding-bottom: 3%;
}

.center{
	display: flex;
	justify-content: center;
}
.left{
	padding-left: 5%;
}



.logo{
	display: flex;
    justify-content: center;
}

fieldset{	
	font-family:sans-serif;
	margin: 0 34%;
	padding-bottom: 5%;
	

	input{
		.input;
		
	}
	.signin{
		
	}
	.email{
		.down;
		.left;
	}
	.password{
		.down;
		.left;
		
	}
	.signbtn{
		.left;
		padding-bottom: 6%;
		button{
			.button;	
		}
		
	}
	.newtoamazon{
		.down;
		.center;
	}
	.create{
		.left;
		button{
			.button;
		}
	}
} 
