
.input{	
	height: 1.5em;
	width: 97%;
}

.button{
	width: 18em;
	padding-bottom: .32em;
}
.down{
	padding-bottom: 3%;
}

.center{
	display: flex;
	justify-content: center;
}

body{
	font-family:sans-serif;
	margin: 0 40%;
	
}

.logo{
	display: flex;
    justify-content: center;
}

fieldset{	
	
	padding-bottom: 8em;
	input{
		.input;
		
	}
	.signin{
		
	}
	.email{
		.down;
	}
	.password{
		.down;
		
	}
	.signbtn{
		
		button{
			.button;	
		}
		
	}
	.newtoamazon{
		.down;
		.center;
	}
	.create{
		button{
			.button;
		}
	}
} 
